@import '../../scss/variables';

.card-container {
    border-radius: 15px;
    background-color: $dark-blue;
}

.profile-heading {
    background-color: $blue;
    border-radius: 15px;
    padding: 30px 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

img {
    border-radius: 50%;
    border: 2px solid white;
    height: 50px;
}

.heading {
    display: flex;
    flex-direction: column;

    h3, h1 {
        padding: 0;
        margin: 2px;
    }
    h3 {
        font-size: 1rem;
        color: $pale-blue;
        font-weight: $font-light;
    }

    h1 {
        font-weight: $font-light;
        color: $pale-blue;
        font-size: 1.3rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;

    a {
        border: none;
        color: $desaturated-blue;
        outline: none;

        font-size: .95rem;
        text-decoration: none;
        font-style: normal;
    }
}