@import './scss/variables';


::ng-deep {
    body {
        font-family: $font-family;
        font-size: $font-size;
        background-color: $very-dark-blue;
    }
}

main {
    margin: 12vh 15px 40px;

    display: grid;
    row-gap: 20px;
}
